@font-face {
    font-family: 'Lato Thin';
    src: url('../../assets/fonts/Lato-Thin.eot');
    src: url('../../assets/fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Lato-Thin.woff2') format('woff2'),
        url('../../assets/fonts/Lato-Thin.woff') format('woff'),
        url('../../assets/fonts/Lato-Thin.ttf') format('truetype'),
        url('../../assets/fonts/Lato-Thin.svg#Lato-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../assets/fonts/Lato-Regular.eot');
    src: url('../../assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Lato-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Lato-Regular.woff') format('woff'),
        url('../../assets/fonts/Lato-Regular.ttf') format('truetype'),
        url('../../assets/fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Light';
    src: url('../../assets/fonts/Lato-Light.eot');
    src: url('../../assets/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Lato-Light.woff2') format('woff2'),
        url('../../assets/fonts/Lato-Light.woff') format('woff'),
        url('../../assets/fonts/Lato-Light.ttf') format('truetype'),
        url('../../assets/fonts/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('../../assets/fonts/Montserrat-Medium.eot');
    src: url('../../assets/fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat-Medium.woff') format('woff'),
        url('../../assets/fonts/Montserrat-Medium.ttf') format('truetype'),
        url('../../assets/fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('../../assets/fonts/Montserrat-Light.eot');
    src: url('../../assets/fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Montserrat-Light.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat-Light.woff') format('woff'),
        url('../../assets/fonts/Montserrat-Light.ttf') format('truetype'),
        url('../../assets/fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Extra Bold Italic';
    src: url('../../assets/fonts/Montserrat-ExtraBoldItalic.eot');
    src: url('../../assets/fonts/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
        url('../../assets/fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype'),
        url('../../assets/fonts/Montserrat-ExtraBoldItalic.svg#Montserrat-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Extra Bold';
    src: url('../../assets/fonts/Montserrat-ExtraBold.eot');
    src: url('../../assets/fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat-ExtraBold.woff') format('woff'),
        url('../../assets/fonts/Montserrat-ExtraBold.ttf') format('truetype'),
        url('../../assets/fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}