// Structure

$base__space-unit: 1.5rem;
$solid_border-light: 0.8px solid #cc9550;
$solid_border-dark: 0.8px solid #333333;
$base__font-size: 16px;
$base__letter-spacing: 2px;
$base__heading-spacing: 5px;

// Colors

$color__background-body: #fff;
$color__brand-darkgrey: #333333;
$color__brand-mediumgrey: #3d3d3d;
$color__brand-grey: #c1562f;
$color__brand-lightgrey: #8c4227;
$color__brand-offwhite: #ffffff;

$color__link: $color__brand-darkgrey;
$color__link-visited: $color__brand-grey;

// Typography

@mixin font__main-thin {
  font-family: "Lato Thin", sans-serif;
  font-weight: 100;
}

@mixin font__main-light {
  font-family: "Lato Light", sans-serif;
  font-weight: 300;
}

@mixin font__accent-light {
  font-family: "Montserrat Medium";
  font-weight: 300;
}

@mixin font__accent-medium {
  font-family: "Montserrat Medium";
  font-weight: 500;
  font-style: normal;
}

@mixin font__accent-bold {
  font-family: "Montserrat Extra Bold";
  font-weight: 800;
}

@mixin font__accent-bold-italic {
  font-family: "Montserrat Extra Bold Italic";
  font-weight: 800;
  font-style: italic;
}

$font__main: "Lato", sans-serif;
