// Structure

$base__space-unit: 1.5rem;
$solid_border-light: 1px solid #8c4227;
$solid_border-dark: 1px solid #fff;
$base__font-size: 16px;
$base__letter-spacing: 2px;
$base__heading-spacing: 5px;

// Colors

$color__dark-grey: #1f1f1f;
$color__light-grey: #8a8a8a;
$color__accent-dark-bg: #d16842;
$color__accent-light-bg: #c1562f;
$color__gold-dark-bg: #d0a062;
$color__red-light-bg: #8c4227;
$color__white: #ffffff;

// Typography

@mixin font__main-thin {
  font-family: "Lato Thin", sans-serif;
  font-weight: 100;
}

@mixin font__main-light {
  font-family: "Lato Light", sans-serif;
  font-weight: 300;
}

@mixin font__accent-light {
  font-family: "Montserrat Medium";
  font-weight: 300;
}

@mixin font__accent-medium {
  font-family: "Montserrat Medium";
  font-weight: 500;
  font-style: normal;
}

@mixin font__accent-bold {
  font-family: "Montserrat Extra Bold";
  font-weight: 800;
}

@mixin font__accent-bold-italic {
  font-family: "Montserrat Extra Bold Italic";
  font-weight: 800;
  font-style: italic;
}

$font__main: "Lato", sans-serif;
