@import "variables";
@import "reset";
@import "fonts";
@import "hamburgers";

/* MOBILE LAYOUT */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: $color__dark-grey;
  color: $color__white;
}

/* HEADER */
header {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 1;
  top: 0px;
  background: $color__white;
  box-shadow: 0px 3px 10px #000;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 15px;
    width: 100%;

    .kg-logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 50%;
      height: 100%;
      z-index: 2;
      &:focus {
        color: red;
      }
      .logo {
        img {
          width: 75px;
          height: auto;
        }
      }
    }
    .nav-links {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      position: absolute;
      right: 0px;
      height: 100vh;
      top: 8vh;
      z-index: 1;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      background-color: $color__white;
      overflow-y: scroll;

      .link-item a {
        text-decoration: none;
        color: $color__accent-light-bg;
        @include font__accent-light;
        font-size: $base__font-size;
        text-transform: uppercase;
        letter-spacing: $base__letter-spacing;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
          color: $color__dark-grey;
        }
      }
    }

    .burger {
      display: block;
      cursor: pointer;
      position: relative;
      z-index: 2;
      span {
        &:hover,
        &:focus {
          color: $color__accent-light-bg;
        }
      }
    }

    .nav-active {
      transform: translateX(0%);
    }
  }
}

/* MAIN */

main {
  width: 90%;
  margin: 120px auto 0px;
}

/* ABOUT PAGE */

.about-me {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 20px;
  grid-template-columns: 100%;
  width: 100%;

  .about-me-photo {
    width: inherit;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px 50px 1fr 50px 100px 50px;

    img {
      width: 100%;
      height: auto;
      grid-row: 1 / 6;
      grid-column: 1 / 6;
      order: 2;
    }
    .photoBackground {
      order: 1;
      grid-row: 2 / 7;
      grid-column: 2 / 7;
      background: $color__accent-dark-bg;
    }
    h1 {
      grid-row: 5 / 7;
      grid-column: 3 / 7;
      @include font__accent-bold();
      font-size: 2em;
      color: $color__white;
      justify-self: center;
      align-self: center;
      order: 3;
      line-height: 35px;
      text-shadow: 2px 2px $color__dark-grey;
    }
  }

  .bio {
    font-family: $font__main;
    font-size: $base__font-size;
    width: inherit;
    line-height: 20px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 410px;
    width: 100%;
    font-size: $base__font-size;
    line-height: 25px;

    h2 {
      @include font__accent-medium();
      color: $color__gold-dark-bg;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: $base__letter-spacing;
    }

    ul {
      font-family: $font__main;
      display: flex;
      flex-direction: column;
    }
  }

  .interests {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    width: 100%;
    font-size: $base__font-size;
    line-height: 25px;

    h2 {
      @include font__accent-medium;
      color: $color__gold-dark-bg;
      font-size: 1rem;
      letter-spacing: $base__letter-spacing;
      text-transform: uppercase;
    }

    ul {
      font-family: $font__main;
      display: flex;
      flex-direction: column;
    }
  }
}

/* PORTFOLIO GRID */

.page-title {
  @include font__accent-bold;
  font-size: 2rem;
  letter-spacing: $base__letter-spacing;
  color: $color__gold-dark-bg;
  text-align: center;
  margin-bottom: 40px;
}

/* DESIGN PORTFOLIO MENU LINKS */

#myBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 30px auto;

  .btn {
    font-size: $base__font-size;
    color: $color__dark-grey;
    background: $color__white;
    border: none;
    padding: 12px 15px;
    cursor: pointer;
    &:hover,
    &:focus {
      border: $solid_border-dark;
      background: $color__accent-dark-bg;
      color: $color__dark-grey;
    }
  }

  .active {
    color: $color__dark-grey;
    background: $color__gold-dark-bg;
    border: $solid_border-light;
  }
}

/* END OF DESIGN PORTFOLIO MENU LINKS */

.portfolio {
  display: grid;
  grid-row-gap: 30px;

  a {
    text-decoration: none;
  }
  .portfolio-item {
    display: grid;
    grid-template-columns: repeat(7, 1fr) 50px;
    grid-template-rows: 20px repeat(2, 1fr) 50px 30px 20px;
    .portfolio-mockup {
      width: 100%;
      grid-row: 1 / 5;
      grid-column: 1 / 8;
      order: 2;
    }
    .portfolio-item-title {
      grid-row: 5 / 7;
      grid-column: 2 / 9;
      order: 3;
      align-self: center;
      justify-self: center;
      @include font__accent-bold;
      font-size: 1.5rem;
      text-transform: uppercase;
      color: #000000;
      letter-spacing: 1px;
    }
    .portfolio-item-background {
      background: $color__gold-dark-bg;
      grid-row: 2 / 7;
      grid-column: 2 / 9;
      order: 1;
    }
  }
}

/* INDIVIDUAL PROJECT PAGES */

.project-page-title {
  @include font__accent-medium;
  font-size: 2rem;
  color: $color__accent-dark-bg;
  text-align: center;
  letter-spacing: $base__letter-spacing;
  border-bottom: $solid_border-dark;
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.project-details {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 15px;
  justify-items: center;
  margin-bottom: 40px;
  width: 100%;

  img {
    max-width: 100%;
  }

  .product-youtube-videos {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  .project-description {
    font-family: $font__main;
    font-size: $base__font-size;
    color: $color__white;
    line-height: 20px;
    width: 100%;
  }
}

.project-live-site-preview {
  text-decoration: none;
  color: $color__gold-dark-bg;
  @include font__accent-bold-italic;
  font-size: $base__font-size;
  &:hover,
  &:focus,
  &:active {
    color: $color__light-grey;
  }
}

.view-all-projects {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .fa-arrow-alt-circle-left {
    font-size: $base__font-size * 2;
  }

  a {
    @include font__accent-bold-italic;
    color: $color__gold-dark-bg;
    text-decoration: none;
    font-size: $base__font-size * 1.25;
    &:hover,
    &:focus {
      color: $color__light-grey;
    }
  }
}

/* CONTACT PAGE */

.contact-page {
  display: grid;
  grid-template-rows: 1fr 100px;
  grid-template-columns: 100%;

  //contact form
  .form-container {
    grid-row: 1 / 2;
    width: 100%;
    @include font__accent-medium;
    color: $color__accent-light-bg;
    background: $color__white;
    border: $solid_border-dark;
    border-radius: 25px;
    text-transform: uppercase;

    .invalidInput {
      background: red;
    }

    #contact-form {
      display: grid;
      grid-row-gap: 15px;
      margin: 30px 0;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      justify-items: center;

      #name {
        width: 90%;
        height: 40px;
        padding: 10px;
        font-family: $font__main;
        color: $color__dark-grey;
        font-size: $base__font-size;
        background: $color__white;
        border: $solid_border-light;
        border-radius: 25px;
      }

      #email {
        width: 90%;
        height: 40px;
        padding: 10px;
        color: $color__dark-grey;
        font-size: $base__font-size;
        font-family: $font__main;
        background: $color__white;
        border: $solid_border-light;
        border-radius: 25px;
      }

      #message {
        width: 90%;
        height: 150px;
        resize: none;
        padding: 10px;
        font-family: $font__main;
        font-size: $base__font-size;
        color: $color__dark-grey;
        background: $color__white;
        border: $solid_border-light;
        border-radius: 15px;
        overflow-y: scroll;
      }

      button {
        width: 90%;
        padding: 10px;
        @include font__accent-bold-italic;
        background: $color__gold-dark-bg;
        color: $color__dark-grey;
        font-size: $base__font-size;
        letter-spacing: $base__letter-spacing;
        text-transform: uppercase;
        border: $solid_border-light;
        border-radius: 25px;
        cursor: pointer;
        &:hover,
        &:focus {
          background: $color__dark-grey;
          color: $color__white;
          border-color: #ffffff;
        }
      }
    }
  }

  .email-and-logo {
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    p {
      @include font__accent-medium;
      font-size: $base__font-size;
      text-align: center;
      line-height: 25px;
      color: $color__white;
    }
  }
  img {
    display: none;
  }
}

.unique-page {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 20px;

  p {
    font-family: $font__main;
    font-size: $base__font-size;
    text-align: center;
    color: $color__white;
  }

  .redirect {
    width: 50%;
    margin: 0 auto;
    text-decoration: none;
    padding: 15px 10px;
    @include font__accent-bold-italic;
    background: $color__gold-dark-bg;
    color: $color__dark-grey;
    font-size: $base__font-size;
    border: $solid_border-dark;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: $color__accent-dark-bg;
      color: $color__dark-grey;
    }
  }
}

/* FOOTER */

footer {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 30px auto;
  padding: 20px 0;
  border-top: $solid_border-dark;
  flex-direction: column;
  justify-content: space-between;

  .contact-info {
    display: flex;
    flex-direction: column;

    .social-media-icons {
      display: flex;
      justify-content: space-evenly;
      font-size: 2rem;
      .fa-linkedin-in,
      .fa-github {
        color: $color__white;
        &:hover,
        &:focus {
          color: $color__gold-dark-bg;
        }
      }
    }
    p {
      @include font__accent-medium;
      font-size: $base__font-size;
      text-align: center;
      line-height: 25px;
      color: $color__gold-dark-bg;
    }
  }
  .copyright {
    @include font__accent-medium;
    color: $color__white;
    font-size: $base__font-size;
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  .about-me {
    .about-me-photo {
      grid-template-columns: repeat(3, 1fr) 150px 175px 1fr;
      grid-template-rows: 50px repeat(3, 1fr) 100px 50px;
      h1 {
        grid-column: 4 / 7;
      }
    }
    .skills {
      justify-content: space-evenly;
      height: 325px;
      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 10px;
        line-height: normal;
      }
    }
    .interests {
      justify-content: space-around;
      height: 180px;

      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 10px;
        line-height: normal;
      }
    }
  }

  /* DESIGN PORTFOLIO MENU LINKS */

  #myBtnContainer {
    justify-content: space-evenly;
    .btn {
      padding: 12px 28px;
    }
  }
  /* END OF DESIGN PORTFOLIO MENU LINKS */
  .portfolio {
    grid-row-gap: 40px;
  }

  /* CONTACT PAGE */

  .contact-page {
    //contact form
    .form-container {
      width: 75%;
      margin-left: auto;
      margin-right: auto;

      #contact-form {
        button {
          width: 70%;
        }
      }
    }
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (min-width: 900px) {
  /* HEADER */
  header {
    box-shadow: none;
    nav {
      .nav-links {
        flex-direction: row;
        position: relative;
        flex-wrap: column wrap;
        right: auto;
        height: auto;
        top: 0px;
        transform: none;
        transition: none;
        background-color: transparent;
        overflow-y: hidden;
        z-index: 0;
      }

      .burger {
        display: none;
      }

      .nav-active {
        transform: none;
      }
    }
  }

  // /* MAIN GRID */

  /* ABOUT PAGE */

  .about-me {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 125px 25px;
    grid-column-gap: 50px;
    grid-row-gap: 40px;

    .about-me-photo {
      align-self: center;
      grid-column: 1 / 2;
      grid-row: 1 / 5;
      grid-template-columns: 50px repeat(3, 1fr) 50px;
      grid-template-rows: 50px repeat(4, 1fr) 50px;
      img {
        grid-row: 1 / 6;
        grid-column: 1 / 5;
      }
      .photoBackground {
        grid-row: 2 / 7;
        grid-column: 2 / 7;
      }
      h1 {
        grid-row: 4 / 7;
        grid-column: 3 / 7;
      }
    }
    .bio {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    .skills {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      justify-content: space-between;
      height: 250px;
      ul {
        grid-gap: 5px;
      }
    }
    .interests {
      grid-column: 2 / 3;
      grid-row: 3 / 5;
      justify-content: space-between;
      height: 150px;
      ul {
        grid-gap: 5px;
      }
    }
  }

  /* DESIGN PORTFOLIO MENU LINKS */

  #myBtnContainer {
    .btn {
      padding: 12px 40px;
    }
  }

  /* END OF DESIGN PORTFOLIO MENU LINKS */

  .portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
  }

  /* CONTACT PAGE */

  .contact-page {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;

    //contact form
    .form-container {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      width: 100%;
    }

    .email-and-logo {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      align-items: center;
    }
    img {
      display: initial;
      width: 50%;
    }
  }

  .unique-page {
    .redirect {
      width: 300px;
      padding: 15px 10px;
    }
  }

  footer {
    margin: 50px auto 20px auto;
    flex-direction: row;
    .contact-info {
      flex-direction: row;
      align-items: center;
    }
    .social-media-icons {
      padding-right: 10px;
      .fa-linkedin-in,
      .fa-github {
        padding-right: 20px;
      }
    }
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 1240px) {
  main {
    width: 1240px;
  }

  .about-me,
  .portfolio,
  .view-all-projects,
  .contact-page,
  .unique-page {
    width: 95%;
    margin: 0 auto;
  }

  .project-page-title {
    width: 95%;
    margin: 0 auto 20px auto;
  }

  .project-details {
    grid-gap: 30px;
    width: 95%;
    margin: 0 auto 40px auto;

    .project-description,
    .project-live-site-preview {
      grid-column: 1 / 3;
      justify-self: center;
    }

    .singleImage {
      grid-column: 1 / 3;
      justify-self: center;
    }
    .singleVideo {
      grid-column: 1 / 3;
      justify-self: center;
    }
  }
  footer {
    width: 1190px;
  }
}
